<div>
	<h1>Upload</h1>

	<p>{{ message }}</p>
	
    <div ng-app="mainApp" ng-controller="uploadController">
		<div ngf-drop="" ngf-select="" ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept=".sav,.json" ngf-pattern="'.sav,.json'">
		Drop SAV/JSON here or click to upload
		</div>
		<div ngf-no-file-drop="">File Drag/Drop is not supported for this browser</div>
		Files:
		<ul>
		  <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
		</ul>
		Upload Log:
		<pre>
			{{log}}
		</pre>
	</div>
</div>