<div class="contentpage">
	<!--<h1>Content Page</h1>
	<!--<p>{{ message }}</p>
	<h1>generated table from JSON</h1>-->
	<table>
	<tr>
	<td>
	<div>
		<table class="tablestyle">
			<tr>
				<th class="serialid_style">ID</th>
				<th class="name_style">FIRST NAME</th>
				<th class="name_style">LAST NAME</th>
				<th class="attribute_style">S</th>
				<th class="attribute_style">P</th>
				<th class="attribute_style">E</th>
				<th class="attribute_style">C</th>
				<th class="attribute_style">I</th>
				<th class="attribute_style">A</th>
				<th class="attribute_style">L</th>
				<th class="attribute_style">LvL</th>
				<th class="attribute_style">:)</th>
				<th class="attribute_style">&#9893;</th>
				<th class="attribute_style"></th>
			</tr>
			<tr ng-repeat="dweller in dwellerContainer">
				<td class="serialid_style">{{dweller.serializeId}}</td>
				<td class="name_style"><input type="text" value="{{dweller.attributes.name}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.name"/></td>
				<td class="name_style"><input type="text" value="{{dweller.attributes.lastName}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.lastName"/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Strength}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Strength" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Perception}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Perception" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Endurance}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Endurance" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Charisma}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Charisma" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Intelligence}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Intelligence" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Agility}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Agility" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 10"><input type="text" value="{{dweller.attributes.Luck}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.Luck" min="1" max="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 50"><input type="text" value="{{dweller.attributes.LvL}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.LvL" min="1" max="50" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 100"><input type="text" value="{{dweller.attributes.happiness}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.happiness" min="1" max="100" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td class="attribute_style" tooltip="Integer between 1 and 2 (1: female, 2: male)"><input type="text" value="{{dweller.attributes.gender}}" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="dweller.attributes.gender" min="1" max="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
				<td><button class="maximizebtn_style" ng-click="maximize(dweller)">MAX</button></td>
			</tr>
		</table>
	</div>
	</td>
	<td style="vertical-align: text-top;">
	<div class="lunchboxes_style">
		<table class="tablestyle">
			<tr tooltip="Regular lunchbox (integer)">
				<td>Number of Lunchboxes:</td>
				<td><input type="text" value="0" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="lunchboxes" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
			</tr>
			<tr tooltip="Mr. Handy lunchbox (integer)">
				<td>Number of Mr. Handy:</td>
				<td><input type="text" value="0" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="mrhandy" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
			</tr>
			<tr tooltip="Your money in the game (integer)">
				<td>CAPS:</td>
				<td><input type="text" value="0" ng-readonly='$scope.eEditable' ng-blur="lostFocus()" ng-focus="onFocus()" ng-model="caps" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/></td>
			</tr>
		</table>
		<button class ="btn" ng-click="save(dwellerContainer,lunchboxes,mrhandy,caps)">SAVE</button>
	</div>
	</td>
	</tr>
	</table>
	<div class="hint">
	> admin@vault:~$ Rename the generated SAV to: 'Vault1.sav'<br>
	> admin@vault:~$ Copy 'Vault1.sav' file here (overwrite existing): /storage/emulated/0/Android/data/com.bethsoft.falloutshelter/files<br>
	<br><a href="mailto:daniel.szaniszlo@gmail.com?Subject=Hello">EMAIL</a>
	</div>
</div>